@media (width < 1000px) {
 body {
  flex-direction: column;
 }

 .header {
  height: 40%;
  padding: 30px;
  width: 100%;
 }

 .footer {
  overflow-y: scroll;
  height: 60%;
  width: 100%;
  justify-content: normal;
  gap: 20px;
  padding: 150px;
  border-left: none;
  border-top: 5px solid rgba(255, 255, 255, 0.14);
 }

 .searcharea {
  display: none;
 }

 .changeloc {
  margin-top: 20px;
 }

 #selectloc {
  width: 50% !important;
 }

 #box1 {
  height: 300px;
 }

 .headmob {
  display: flex;
  justify-content: space-between;
 }

 #forcedisplayblock {
  display: block !important;
  width: 40%;
  margin: 0;
 }
}

@media (width < 1000px) { 
  .footer {
    padding: 50px;
  }

  #forcedisplayblock {
    width: 50%;
  }

  #currentCity {
    font-size: 40px;
  }

  #degree {
    font-size: 80px !important;
  }
}

